In [1]:
import pandas as pd
import  numpy as np
import pymongo
from pymongo import MongoClient
from time import gmtime, strftime
from datetime import datetime



# Current Date

In [2]:
date = datetime.now().strftime('%Y-%m-%d')
date

'2020-06-14'

# https://www.coronatracker.com/country/india/

In [3]:
df = pd.read_json("https://api.coronatracker.com/v3/stats/worldometer/country?countryCode=IN")

In [4]:
df

,countryCode,country,lat,lng,totalConfirmed,totalDeaths,totalRecovered,dailyConfirmed,dailyDeaths,activeCases,totalCritical,totalConfirmedPerMillionPopulation,totalDeathsPerMillionPopulation,FR,PR,lastUpdated
0,IN,India,20.593684,78.96288,332739,9514,169465,11113,315,153760,8944,241,7,2.8593,50.9303,2020-06-14T18:13:00.000Z

# Saving India data in csv file

In [5]:
India = df.head(1)
India
India.to_csv(date + "_India.csv")

# https://www.covid19india.org/

In [6]:
df2 = pd.read_json("https://api.covid19india.org/v3/min/data.min.json")

In [7]:
df2

,AN,AP,AR,AS,BR,CH,CT,DL,DN,GA,...,RJ,SK,TG,TN,TR,TT,UN,UP,UT,WB
delta,{'confirmed': 2},"{'confirmed': 294, 'deceased': 2, 'recovered':...","{'confirmed': 3, 'recovered': 1}","{'confirmed': 149, 'recovered': 155}","{'confirmed': 186, 'deceased': 1, 'recovered':...","{'confirmed': 2, 'tested': 98}","{'confirmed': 113, 'recovered': 84, 'tested': ...","{'confirmed': 2224, 'deceased': 56, 'recovered...","{'confirmed': 4, 'tested': 796}","{'confirmed': 41, 'recovered': 4, 'tested': 1112}",...,"{'confirmed': 293, 'deceased': 10, 'recovered'...","{'confirmed': 5, 'tested': 287}","{'confirmed': 237, 'deceased': 3, 'recovered':...","{'confirmed': 1974, 'deceased': 38, 'recovered...","{'confirmed': 33, 'recovered': 118, 'tested': ...","{'confirmed': 11271, 'deceased': 321, 'migrate...",{'confirmed': -548},"{'confirmed': 497, 'deceased': 14, 'recovered'...","{'confirmed': 34, 'deceased': 1, 'migrated': 1...","{'confirmed': 389, 'deceased': 12, 'recovered'..."
districts,{'North and Middle Andaman': {'total': {'confi...,"{'Anantapur': {'delta': {'confirmed': 45, 'rec...",{'Capital Complex': {'delta': {'confirmed': 7}...,{'Airport Quarantine': {'total': {'confirmed':...,"{'Araria': {'delta': {'recovered': 6}, 'total'...","{'Chandigarh': {'total': {'confirmed': 350, 'd...","{'Balod': {'total': {'confirmed': 41, 'recover...",{'Central Delhi': {'total': {'confirmed': 184}...,{'Dadra and Nagar Haveli': {'total': {'confirm...,"{'North Goa': {'total': {'confirmed': 6, 'reco...",...,"{'Ajmer': {'delta': {'confirmed': 9, 'recovere...","{'East Sikkim': {'total': {'confirmed': 27, 'r...","{'Adilabad': {'delta': {'confirmed': 1}, 'tota...",{'Airport Quarantine': {'delta': {'confirmed':...,"{'Dhalai': {'total': {'confirmed': 201, 'recov...",NaN,NaN,"{'Agra': {'delta': {'confirmed': 15, 'deceased...","{'Almora': {'delta': {'recovered': 1}, 'total'...","{'Alipurduar': {'delta': {'confirmed': 1, 'rec..."
meta,"{'last_updated': '2020-06-14T21:05:49+05:30', ...","{'last_updated': '2020-06-14T18:24:48+05:30', ...","{'last_updated': '2020-06-14T23:02:48+05:30', ...","{'last_updated': '2020-06-14T20:12:48+05:30', ...","{'last_updated': '2020-06-14T21:54:49+05:30', ...","{'last_updated': '2020-06-14T19:35:59+05:30', ...","{'last_updated': '2020-06-14T22:35:51+05:30', ...","{'last_updated': '2020-06-14T21:34:47+05:30', ...","{'last_updated': '2020-06-14T17:03:52+05:30', ...","{'last_updated': '2020-06-14T19:23:52+05:30', ...",...,"{'last_updated': '2020-06-14T23:24:47+05:30', ...","{'last_updated': '2020-06-14T14:39:51+05:30', ...","{'last_updated': '2020-06-14T22:03:50+05:30', ...","{'last_updated': '2020-06-14T19:35:48+05:30', ...","{'last_updated': '2020-06-14T21:45:55+05:30', ...","{'last_updated': '2020-06-14T23:27:47+05:30', ...","{'last_updated': '2020-06-14T19:04:49+05:30', ...","{'last_updated': '2020-06-14T22:08:48+05:30', ...","{'last_updated': '2020-06-14T21:54:52+05:30', ...","{'last_updated': '2020-06-14T21:34:48+05:30', ..."
total,"{'confirmed': 40, 'recovered': 33, 'tested': 1...","{'confirmed': 6152, 'deceased': 84, 'recovered...","{'confirmed': 91, 'recovered': 7, 'tested': 14...","{'confirmed': 4050, 'deceased': 8, 'migrated':...","{'confirmed': 6475, 'deceased': 36, 'recovered...","{'confirmed': 352, 'deceased': 5, 'recovered':...","{'confirmed': 1663, 'deceased': 6, 'recovered'...","{'confirmed': 41182, 'deceased': 1327, 'recove...","{'confirmed': 35, 'recovered': 2, 'tested': 18...","{'confirmed': 564, 'recovered': 74, 'tested': ...",...,"{'confirmed': 12694, 'deceased': 292, 'recover...","{'confirmed': 68, 'recovered': 5, 'tested': 5664}","{'confirmed': 4974, 'deceased': 185, 'recovere...","{'confirmed': 44661, 'deceased': 435, 'recover...","{'confirmed': 1079, 'deceased': 1, 'recovered'...","{'confirmed': 332901, 'deceased': 9520, 'migra...",{'confirmed': 7436},"{'confirmed': 13615, 'deceased': 399, 'recover...","{'confirmed': 1819, 'deceased': 24, 'migrated'...","{'confirmed': 11087, 'deceased': 475, 'recover..."

In [8]:
MH = [s for s in df2["MH"] if "tested" in str(s)]
Maharashtra = [s for s in MH if "tested"and "recovered"  in str(s)]
print(Maharashtra)

[{'confirmed': 3390, 'deceased': 120, 'recovered': 1632, 'tested': 16424}, {'confirmed': 107958, 'deceased': 3950, 'migrated': 13, 'recovered': 50978, 'tested': 659481}]

In [9]:
Maharashtra[1]

{'confirmed': 107958,
 'deceased': 3950,
 'migrated': 13,
 'recovered': 50978,
 'tested': 659481}

# Maharashtra New cases

In [10]:


New_cases_in_Maharashtra = Maharashtra[0]["confirmed"]
Recoveries_in_Maharashtra =  Maharashtra[0]["recovered"]
Deaths_in_Maharashtra = Maharashtra[0]["deceased"]
Tested_in_Maharashtra = Maharashtra[0]["tested"]
Maharashtra_New = [New_cases_in_Maharashtra,Recoveries_in_Maharashtra,Deaths_in_Maharashtra,Tested_in_Maharashtra]
Maharashtra_New
Maharashtra_New = pd.DataFrame(Maharashtra_New)
Maharashtra_New  = Maharashtra_New.transpose()
Maharashtra_New.columns = ["New_cases_in_Maharashtra","Recoveries_in_Maharashtra","Deaths_in_Maharashtra","Tested_in_Maharashtra"]
Maharashtra_New.head()

,New_cases_in_Maharashtra,Recoveries_in_Maharashtra,Deaths_in_Maharashtra,Tested_in_Maharashtra
0,3390,1632,120,16424

# Maharashtra  cases

In [11]:


Cases = Maharashtra[1]["confirmed"]
Recoveries =  Maharashtra[1]["recovered"]
Deaths = Maharashtra[1]["deceased"]
Tested = Maharashtra[1]["tested"]
Maharashtra = [date,Cases,Recoveries,Deaths,Tested]
Maharashtra
Maharashtra = pd.DataFrame(Maharashtra)
Maharashtra  = Maharashtra.transpose()
Maharashtra.columns = ["Date","Cases","Recoveries","Deaths","Tested"]
Maharashtra.head()

         Date   Cases Recoveries Deaths  Tested
0  2020-06-14  107958      50978   3950  659481

In [12]:
KA = [s for s in df2["KA"] if "tested" in str(s)]
Karnataka = [s for s in KA if "tested"and "recovered"  in str(s)]
print(Karnataka)

[{'confirmed': 176, 'deceased': 5, 'recovered': 312, 'tested': 7451}, {'confirmed': 7000, 'deceased': 87, 'migrated': 2, 'recovered': 3960, 'tested': 443969}]

In [13]:
Karnataka[1]

{'confirmed': 7000,
 'deceased': 87,
 'migrated': 2,
 'recovered': 3960,
 'tested': 443969}


# Karnataka New cases

In [14]:


New_cases_in_Karnataka = Karnataka[0]["confirmed"]
Recoveries_in_Karnataka =  Karnataka[0]["recovered"]
Deaths_in_Karnataka = Karnataka[0]["deceased"]
Tested_in_Karnataka = Karnataka[0]["tested"]
Karnataka_New = [New_cases_in_Karnataka,Recoveries_in_Karnataka,Deaths_in_Karnataka,Tested_in_Karnataka]
Karnataka_New
Karnataka_New = pd.DataFrame(Karnataka_New)
Karnataka_New  = Karnataka_New.transpose()
Karnataka_New.columns = ["New_cases_in_Karnataka","Recoveries_in_Karnataka","Deaths_in_Karnataka","Tested_in_"]
Karnataka_New.head()

,New_cases_in_Karnataka,Recoveries_in_Karnataka,Deaths_in_Karnataka,Tested_in_
0,176,312,5,7451


# Karnataka  cases

In [15]:


Cases = Karnataka[1]["confirmed"]
Recoveries =  Karnataka[1]["recovered"]
Deaths = Karnataka[1]["deceased"]
Tested = Karnataka[1]["tested"]
Karnataka = [Cases,Recoveries,Deaths,Tested]
Karnataka
Karnataka = pd.DataFrame(Karnataka )
Karnataka  = Karnataka .transpose()
Karnataka.columns = ["cases","recoveries","deaths","tested"]
Karnataka.head()

   cases  recoveries  deaths  tested
0   7000        3960      87  443969

In [16]:
df = pd.concat([Maharashtra,Maharashtra_New,Karnataka,Karnataka_New],axis =1)

In [17]:
df

,Date,Cases,Recoveries,Deaths,Tested,New_cases_in_Maharashtra,Recoveries_in_Maharashtra,Deaths_in_Maharashtra,Tested_in_Maharashtra,cases,recoveries,deaths,tested,New_cases_in_Karnataka,Recoveries_in_Karnataka,Deaths_in_Karnataka,Tested_in_
0,2020-06-14,107958,50978,3950,659481,3390,1632,120,16424,7000,3960,87,443969,176,312,5,7451

# Saving Maharashtra & Karnataka data in csv file

In [18]:
df = pd.concat([Maharashtra,Maharashtra_New,Karnataka,Karnataka_New],axis =1)
df
df.to_csv(date + "_State.csv",index = False)

# uploading state data in Mongodb

In [19]:
client = MongoClient('localhost', 27017)
db = client.covid
state = db.state
state = pd.read_csv(date + "_State.csv") #csv file which you want to import
records_ = state.to_dict(orient = 'records')
result = db.state.insert_many(records_ )

# uploading India data in Mongodb

In [20]:
client = MongoClient('localhost', 27017)
db = client.covid
India = db.India
India = pd.read_csv(date + "_India.csv") #csv file which you want to import
records_ = India.to_dict(orient = 'records')
result = db.India.insert_many(records_ )